@charset "UTF-8";

* {
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(128, 128, 128, 0.199);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: rgb(48, 48, 48);
    padding: 8px;  
    padding-top: 56px;
    
    
    /*Flex conteiner*/
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between;
    align-items: flex-end;

}

header > h1 {
    color: white;
    font-size: 1.5em;    
    margin-bottom: 8px;
    
    

    /*Flex item*/
    flex: 0 0 200px;    
}

span#menu {
    display: none;
}

header > nav {    
    margin-bottom: 8px;
     
    /*Flex conteiner*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    
}

header > nav > a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    background-color: rgb(116, 116, 116);
    padding: 6px;
    margin: 2px;
    border-radius: 4px;
    text-align: center;
    
}

header > nav > a:hover {
    background-color: rgb(139, 139, 139);
    text-decoration: underline;
    transition: background-color .3s;
}

main {
    background-color: white;
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.178);
}

main > h2 {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 1.3em;
    color: rgb(48, 48, 48);
    margin-bottom: 8px;
}

main p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(51, 51, 51);
    text-indent: 16px;
    text-align: justify;
    margin-bottom: 8px;
}