@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh; /*a  altura mínima dos conteúdos será 100% da altura da viewport*/
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;    
    text-align: center;
}
header > h1 {
     padding-top: 50px;
     font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}
header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh; /*configurando em relaçao a altura da VP, ja garante um ajuste automático ao diminuir a tela*/
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 32px;
}
section.normal {
    background-color: white;
    color: black;    
}
section.imagem {
    color: white;
    background-color: rgb(31, 31, 31);
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    width: 400px;
    padding: 12px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
